@import "variables";
@import "mixins";
@import "typography";

// Reset
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: rubik-light;
  font-weight: 100;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: $primary-text;
  outline: none;
  line-height: 1.5;
  scroll-behavior: smooth;
}

.container {
  width: 1088px;
  display: flex;
  padding: 0 2rem;

  @include tablet {
    max-width: 1088px;
    width: 100%;
    padding: 0 2rem;
  }

  @include mobile {
    padding: 0 1.5rem;
  }
}

.btn {
  &-lg {
    text-transform: uppercase;
    font-family: rubik-reg;
    color: $secondary-text;
    letter-spacing: 0.125rem;
    font-size: 1rem;
    padding: 1.125rem 4rem;

    @include mobile {
      font-size: 0.9rem;
      padding: 1rem 3.5rem;
    }
  }

  &-md {
    text-transform: uppercase;
    font-family: rubik-reg;
    color: $secondary-text;
    letter-spacing: 0.125rem;
    font-size: 0.85rem;
    padding: 0.8rem 2rem;
    min-width: 10rem;
  }
}

.tags {
  &--light-green {
    color: $light-green;
  }

  &--light-green-reg {
    color: $light-green;
    font-family: rubik-reg;
  }

  &--light-pink {
    color: $light-pink;
  }

  &--light-pink-reg {
    color: $light-pink;
    font-family: rubik-reg;
  }
}

.body-text-para {
  margin-bottom: 1rem;
}

.input-field {
  border-radius: 0.2rem;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}
